{% extends "shared/_nude.html.twig" %}

{% block body %}

	{{ form_start(formView) }}
	{{ form_errors(formView) }}
	
	{{ form_row(formView.username) }}
	{{ form_row(formView.hair) }}
	{{ form_row(formView.tattoo) }}
	{{ form_row(formView.smoke) }}

	{{ form_row(formView.shortdescription) }}
	<span class="alert">ATTENTION : Modifier votre description demandera une nouvelle validation administrateur, votre profil ne sera donc pas visible en attendant</span>


	<button type="submit" class="btn btn-success mt-3">
		Modifier son profil
	</button>
	{{ form_end(formView) }}
{% endblock %}
