{% extends "base.html.twig" %}

{% block body %}

	<div class="container">

		<div class="row bg-light mb-5">
			<div class="col">
				{{ form_start(formView) }}
				{{ form_row(formView.username) }}

				<a href="{{ path('modifyPassword') }}" class="btn btn-success btn-sm">
					Modifier son mot de passe
				</a>
			</div>
			<div class="col">
				{{ form_row(formView.hair) }}
				{{ form_row(formView.tattoo) }}
				{{ form_row(formView.smoke) }}

				{{ form_row(formView.shortdescription) }}
				<span class="alert">
					ATTENTION : Modifier votre description demandera une nouvelle validation administrateur, votre profil ne sera donc pas visible en attendant
				</span>

			</div>

			<div class="col-12">

				<button type="submit" class="btn btn-success mt-3">
					Confirmer les modifications
				</button>
				{{ form_end(formView) }}
			</div>
		</div>


		<div class="row bg-light mt-5">
			Images visibles publiquement
			<div class="col-12">
				<a href="{{ path('addImage') }}" class="btn btn-primary">
					Ajouter une image
				</a>
			</div>
			{% for image in app.user.images %}
				<div class="col">
					<img src="{{ asset('/uploads/images/' ~ image.imageFilename) }}" alt="image" width="450">
					<br>
					<a href="{{ path('announcerDeleteImage', {'imageid': image.id}) }}" class="btn btn-danger">
						Supprimer l'image
					</a>
				</div>
			{% endfor %}
		</div>
		<br>
		<a class="btn btn-danger nav-item" href="{{ path('accountTermination') }}">
			Supprimer définitivement son compte
		</a>

	</div>
{% endblock %}
