{% extends "base.html.twig" %}

{% block body %}
	<div class="container profile">
		{% for rubrique, messages in app.flashes %}
			<div class="alert alert-{{rubrique}}">
				{% for message in messages %}
					<p>
						{{ message }}
					</p>
				{% endfor %}
			</div>
		{% endfor %}
		<h2>
			Bienvenue sur votre profil
			{{ app.user.username }}
		</h2>

		{% if app.user.announcer == 1 %}
			<div>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Cheveux</th>
							<th scope="col">Yeux</th>
							<th scope="col">Tatouage</th>
							<th scope="col">Fume</th>
							<th scope="col">Langue</th>
							<th scope="col">Nationalité</th>
							<th scope="col">Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{{ app.user.hair }}</td>
							<td>{{ app.user.eyes }}</td>
							<td>{{ app.user.tattoo | boolean }}</td>
							<td>{{ app.user.smoke | boolean }}</td>
							<td>{{ app.user.language }}</td>
							<td>{{ app.user.nationality }}</td>
							<td>{{ app.user.shortdescription }}</td>
						</tr>
					</tbody>
				</table>

			</div>
			<div>
				{% if app.user %}
					{% for image in app.user.images %}
						<img src="{{ asset('/uploads/images/' ~ image.imageFilename) }}" alt="image" width="450">
					{% endfor %}
				{% endif %}
			</div>
			<h4>
				<a href="{{ path('modifyAnnouncerProfile') }}" class="btn btn-success btn-sm">
					Modifier son profil
				</a>
			</h4>

			<form method="POST" action="/stripeprofile">
				<button class="btn" type="submit">Historique d'abonnement et annulation
				</button>
			</form>
		{% else %}
			<h4>
				<a href="{{ path('modifyUserProfile') }}" class="btn btn-success btn-sm">
					Modifier son profil
				</a>
			</h4>
		{% endif %}
	</div>
{% endblock %}
