{% extends 'base.html.twig' %}

{% block title %}
	Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">
			{{ flashError }}
		</div>
	{% endfor %}

	<div class="row">
		<h1>
			Nouvel annonceur
		</h1>
		<div class="col">

			{{ form_start(formView) }}

			{{ form_row(formView.username) }}

			{{ form_row(formView.plainPassword) }}

			{{ form_row(formView.image) }}

		</div>
		<div class="col">
			{{ form_row(formView.hair) }}

			{{ form_row(formView.tattoo) }}

			{{ form_row(formView.smoke) }}

			{{ form_row(formView.shortdescription) }}

		</div>
			{{ form_row(formView.agreeTerms) }}

			{{ form_row(formView.submit) }}

			{{ form_end(formView) }}
	</div>
{% endblock %}
