{% extends "shared/_nude.html.twig" %}

{% block body %}

	<table classe="table table-hover">
		<thead>
			<tr>
				<th scope="col">
					Username
				</th>
				<th scope="col">
					cheveux
				</th>
				<th scope="col">
					tatouage
				</th>
				<th scope="col">
					fume
				</th>
				<th scope="col">
					description
				</th>
			</tr>
		</thead>
		<tbody>
			{% for A in waitingAnnouncers %}
				<tr>
					<th scope="row">
						{{ A.username }}
					</th>
					<td>
						{{ A.hair }}
					</td>
					<td>
						{{ A.tattoo | boolean }}
					</td>
					<td>
						{{ A.smoke | boolean }}
					</td>
					<td>
						{{ A.shortdescription }}
					</td>
					<td>
						{# <img src="{{ vich_uploader_asset(A) }}" alt="{{ A.name }}" /> #}
					</td>
		
					<td>
						<a href="{{ path('announcervalidate', {'id': A.id}) }}" class="btn btn-success btn-sm">
							Valider
						</a>
					</td>
					<td>
						<a href="{{ path('announcermodify', {'id': A.id}) }}" class="btn btn-success btn-sm">
							Modifier l'annonce
						</a>
					</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
