{% extends "base.html.twig" %}

{% block title %}
	Edition de l'annonce de
	{{announcer.username}}
{% endblock %}

{% block body %}
	<h1>
		Edition de l'annonce de
		{{announcer.username}}
	</h1>


	{{form_start(formView)}}

	{{form_errors(formView)}}

	{{form_widget(formView)}}

	<button type="submit" class="btn btn-danger m-3">
		<i class="fas fa-save"></i>
		Modifier l'annonce de l'annonceur
	</button>

	{{form_end(formView)}}


	{% for image in announcer.images %}
		<img src="{{ asset('/uploads/images/' ~ image.imageFilename) }}" alt="image" width="450">
		<a href="{{ path('adminDeleteImage', {'imageid': image.id}) }}" class="btn btn-success">Supprimer l'image</a>
	{% endfor %}

{% endblock %}
