{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		<h4>Présentation du mode V.I.P.</h4>
		<div class="row">
			<div class="col-12">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit esse, voluptate deleniti impedit provident doloribus, a optio quod et tenetur laborum perspiciatis cum sunt, dolor soluta adipisci voluptas sed. Perspiciatis.
																    Molestias maiores voluptatum, sunt ipsum quam similique vero nesciunt laboriosam aliquam magni vitae assumenda ducimus deserunt quas ut consequuntur doloremque unde necessitatibus excepturi magnam eum iusto dignissimos suscipit. Sint, earum!
																    Vel ullam perspiciatis debitis, tenetur repellendus consectetur velit error mollitia corrupti expedita! Eveniet sint, natus perferendis voluptatibus expedita officiis sapiente porro dolores nostrum. Asperiores tempora, laboriosam sit cupiditate eveniet optio.
																    Suscipit praesentium consequuntur pariatur veritatis! Fugiat sequi repellendus sapiente consequatur commodi alias modi atque nobis vero magni provident dolore ab, velit quaerat! Aliquid accusantium consequatur temporibus voluptates vel eos similique!
																    Dolor, cumque consequatur facilis ea minima vitae quidem maiores. Nam aperiam placeat architecto vitae molestiae asperiores quam cupiditate odit eveniet, esse optio incidunt sunt rerum ipsum ullam fugiat modi iusto.
																    Harum a doloribus, ad id cum consequuntur rerum porro perferendis aperiam quam nostrum voluptatum ea voluptate qui quis, corporis ducimus veritatis exercitationem laudantium ut aspernatur. Ipsum dolorem fuga exercitationem repudiandae!
																 orem, repudiandae dolore! Est sapiente adipisci, consequatur quod rerum perspiciatis porro recusandae molestiae necessitatibus soluta delectus nam corporis libero debitis ipsam quam alias deserunt maxime laboriosam ea quae incidunt! Eaque?
			</div>
		</div>
	</div>

	<div class="container">
		<h4>Offres V.I.P.</h4>

		<div class="row">
			<div class="col-xs-6 col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">3 Jours : 18€</h5>

						<a class="card-link btn btn-secondary" href="{{path('offerverify', {"id":1})}}">
							Choisir cette offre
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">1 Semaine : 42€</h5>
						<a class="card-link btn btn-secondary" href="{{path('offerverify', {"id":2})}}">
							Choisir cette offre
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">2 Semaines : 90€</h5>
						<a class="card-link btn btn-secondary" href="{{path('offerverify', {"id":3})}}">
							Choisir cette offre
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">1 Mois : 180€</h5>
						<a class="card-link btn btn-secondary" href="{{path('offerverify', {"id":4})}}">
							Choisir cette offre
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">2 Mois : 360€</h5>
						<a class="card-link btn btn-secondary" href="{{path('offerverify', {"id":5})}}">
							Choisir cette offre
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Abonnement mensuel : 34,90€/mois</h5>
						<a class="card-link btn btn-secondary" href="{{path('offerverify', {"id":6})}}">
							Choisir cette offre
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
