{% extends "base.html.twig" %}

{% block body %}

	<div class="container profile">
		<h4>Présentation du mode V.I.P.</h4>
		<div class="row">
			<div class="col-12">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit esse, voluptate deleniti impedit provident doloribus, a optio quod et tenetur laborum perspiciatis cum sunt, dolor soluta adipisci voluptas sed. Perspiciatis.
				
				
				</div>
		</div>
	</div>

	<div class="container profile">
		<h4>Offres V.I.P.</h4>

		<div class="row">
			<div class="col-xs-6 col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">3 Jours : 18€</h5>

						<a class="card-link btn btn-color" href="{{path('offer', {"id":1})}}">
							Choisir cette offre
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">1 Semaine : 42€</h5>
						<a class="card-link btn btn-color" href="{{path('offer', {"id":2})}}">
							Choisir cette offre
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">2 Semaines : 90€</h5>
						<a class="card-link btn btn-color" href="{{path('offer', {"id":3})}}">
							Choisir cette offre
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">1 Mois : 180€</h5>
						<a class="card-link btn btn-color" href="{{path('offer', {"id":4})}}">
							Choisir cette offre
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">2 Mois : 360€</h5>
						<a class="card-link btn btn-color" href="{{path('offer', {"id":5})}}">
							Choisir cette offre
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Abonnement mensuel : 34,90€/mois</h5>
						<a class="card-link btn btn-color" href="{{path('offer', {"id":6})}}">
							Choisir cette offre
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}