<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}
				ProjectFleeting
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
			<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
			<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
		{% endblock %}
	</head>
	<body>


		{% include "shared/_navbar.html.twig" %}

		<div class="container text-center p-5 mt-5">

			{% include "shared/_flash.html.twig" %}

			{% block body %}
			{% endblock %}
		</div>

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		<script src="{{ asset('js/jquery.js') }}"></script>
		<script src="{{ asset('js/bootstrap.js') }}"></script>

<script>
	$(".navbar-toggler").on ("click", function (event) {
		$(".navbar-collapse").toggle("show");
	});
</script>



		{% endblock %}
	</body>
</html>
