{% extends 'base.html.twig' %}

{% block title %}
	Fleeting
{% endblock %}

{% block body %}

	<main>
		<div class="container-fluid px-0">
			<div
				class="videoBanner">
				{# <video width="50%" muted controls disablepictureinpicture controlslist="nodownload">
													<source src="{{ asset('video/Pub_Fleeting.mp4') }}" type="video/mp4">
													Your browser does not support the video tag.
												</video> #}
				videoBanner
			</div>
		</div>

		<div class="container p-3">
			<div class="row">
				{% for user in users %}
					<div class="col-6 col-md-3">
						<a href="{{ path('viewAnnouncer', {'username': user.username}) }}">
							<div class="image-wrapper">
								<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
									<div class="carousel-inner">
										{% for image in user.images %}
											<div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}">
												<img class="d-block" src="{{ asset('/uploads/images/' ~ image.imageFilename) }}">
												<div class="carousel-caption">
													<div class="user-title">
														{{ user.username }}
													</div>
													<div class="user-desc">
														{{ user.shortdescription }}
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
			<div class="row pt-2">
				<div class="col bg-dark">
					<h3>Recherche avancée</h3>
					{{ form(formView) }}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
