{% extends 'base.html.twig' %}

{% block title %}
    Fleeting
{% endblock %}

{% block body %}

    <main>
    <div class="container p-3">
        <div
                class="row">
            {# {% if vips != null %} #}
            {% for vip in vips %}

                <div id="carouselVip" class="col-12 col-md-3 mb-1 carousel slide carousel-fade" data-ride="carousel">
                    <a href="{{ path('viewAnnouncer', {'username': vip.username}) }}">
                        <div class="carousel-inner">
                            {% for image in vip.images %}
                                <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}">
                                    <img class="d-block rounded"
                                         src="{{ asset('/uploads/images/' ~ image.imageFilename) }}">
                                    <div class="carousel-caption">
                                        <div class="user-title">
                                            {{ vip.username }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </a>
                </div>

            {% endfor %}
            {# {% endif %} #}
            {% for announcer in announcers %}

                <div id="carousel" class="col-12 col-md-3 carousel slide carousel-fade" data-ride="carousel">
                    <a href="{{ path('viewAnnouncer', {'username': announcer.username}) }}">
                        <div class="carousel-inner">
                            {% for image in announcer.images %}
                                <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}">
                                    <img class="d-block rounded"
                                         src="{{ asset('/uploads/images/' ~ image.imageFilename) }}">
                                    <div class="carousel-caption">
                                        <div class="user-title">
                                            {{ announcer.username }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
        <div class="advancedSearch rounded row mt-2">
            <div class="col-12">
                <h3 class="pt-2">
                    Recherche Avancée
                </h3>
            </div>
            <div class="col-md-6">
                {{ form_start(formView) }}
                {{ form_row(formView.hair) }}
                {{ form_row(formView.tattoo) }}
                {{ form_row(formView.nationality) }}
            </div>
            <div class="col-md-6">
                {{ form_row(formView.smoke) }}
                {{ form_row(formView.eyes) }}
                {{ form_row(formView.language) }}
            </div>
            <div class="col-12">
                {{ form_row(formView.submit) }}
                {{ form_end(formView) }}
            </div>

        </div>
    </div>
    </main>{% endblock %}
