{% extends 'base.html.twig' %}

{% block title %}
	Fleeting
{% endblock %}

{% block body %}

	<main>
		<div class="container p-3">
			<div class="row">
				{# {% if vips != null %} #}
					{% for vip in vips %}
						<div class="col-6 col-md-3 p-2 bg-dark">
							<a href="{{ path('viewAnnouncer', {'username': vip.username}) }}">
								<div class="image-wrapper">
									<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
										<div class="carousel-inner">
											{% for image in vip.images %}
												<div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}">
													<img class="d-block" src="{{ asset('/uploads/images/' ~ image.imageFilename) }}">
													<div class="carousel-caption">
														<div class="user-title">
															{{ vip.username }}
														</div>
														<div class="user-desc">
															{{ vip.shortdescription }}
														</div>
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				{# {% endif %} #}
				{% for announcer in announcers %}
					<div class="col-6 col-md-3 p-2">
						<a href="{{ path('viewAnnouncer', {'username': announcer.username}) }}">
							<div class="image-wrapper">
								<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
									<div class="carousel-inner">
										{% for image in announcer.images %}
											<div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}">
												<img class="d-block" src="{{ asset('/uploads/images/' ~ image.imageFilename) }}">
												<div class="carousel-caption">
													<div class="user-title">
														{{ announcer.username }}
													</div>
													<div class="user-desc">
														{{ announcer.shortdescription }}
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
			<div class="advancedSearch row mt-2 bg-dark">
				<div class="col-12">
					<h3>
						Recherche avancée
					</h3>
				</div>
				<div class="col-md-6">
					{{ form_start(formView) }}
					{{ form_row(formView.hair) }}
					{{ form_row(formView.tattoo) }}
				</div>
				<div class="col-md-6">
					{{ form_row(formView.smoke) }}
					{{ form_end(formView) }}
				</div>
			</div>
		</div>
	</div>
</div></main>{% endblock %}
