{% extends "base.html.twig" %}

{% block body %}
	<h1>
		Profil de
		{{ announcer.username }}
	</h1>


	Cheveux :
	{{ announcer.hair }}
	<br>
	Tatouage :
	{{ announcer.tattoo | boolean }}
	<br>
	Fume :
	{{ announcer.smoke | boolean }}
	<br>
	<p class="card-text">
		{{ announcer.shortdescription }}
	</p>
	<br>
	{% for image in announcer.images %}
		<img src="{{ asset('/uploads/images/' ~ image.imageFilename) }}" alt="image" width="250">
	{% endfor %}
	<br>

	{% if app.user %}
	<a href="{{ path('newChannel', {'targetId': announcer.id }) }}" class="btn btn-success">
			Chat
		</a>
	{% endif %}

	{% if is_granted("ROLE_ADMIN") %}
		<a href="{{ path('announcerModify', {'id': announcer.id }) }}" class="btn btn-success">
			Modifier ce profil
		</a>
	{% endif %}

{% endblock %}
