<nav class="navbar navbar-expand-sm">

	<a class="navbar-brand" href="{{ path('home') }}">
		<img src="{{ asset('image/brandlogo.png') }}" alt="brandlogo"/>
	</a>

	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon">
			<i class="fas fa-align-justify"></i>
		</span>
	</button>


	<div class="collapse navbar-collapse" id="navbarCollapse">
		<div class="navbar-nav mr-auto">
			{% if app.user %}
				{% if is_granted('ROLE_USER') %}
					<div class="btn-group mx-0" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-success nav-item">
							<a href="{{ path('profile') }}" class="btn btn-warning">
								Profil
							</a>
						</button>
						<button type="button" class="btn btn-success nav-item">
							<a href="{{ path('app_logout') }}" class="btn btn-danger">
								Deconnexion
							</a>
						</button>
					</div>
					{% if is_granted('ROLE_ADMIN') %}
						<div class="nav-item">
							<a href="{{ path('admin') }}" class="btn btn-warning">
								Administration
							</a>
						</div>
					{% endif %}
				{% endif %}
			{% else %}
				<div class="btn-group mx-0" role="group" aria-label="Basic example">
					<button type="button" class="btn btn-success nav-item">

						<a href="{{ path('registrationChoice') }}">
							Inscription
						</a>
					</button>
					<button type="button" class="btn btn-success nav-item">
						<a href="{{ path('app_login') }}">
							Connexion
						</a>
					</button>
				</div>
			{% endif %}
			<form class="mobileSearch" action="{{ path('simpleSearch') }}" method="get">
				<div class="input-group m-2">
					<input type="text" name="username" class="form-control" placeholder="Recherche rapide">
					<div class="input-group-append">
						<button class="btn btn-inline" type="submit">
							<i class="fas fa-check"></i>
						</button>
					</div>
				</div>
			</form>
		</div>


		<div class="btn-group dropdown desktopSearch">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-search"></i>
			</a>
			<div class="dropdown-menu">
				<form class="" action="{{ path('simpleSearch') }}" method="get">

					<div class="input-group mb-3">
						<input type="text" name="username" class="form-control" placeholder="Recherche rapide">
						<div class="input-group-btn">
							<button class="btn btn-inline-success" type="submit" id="button-addon">
								<i class="fas fa-check"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>


	</div>
</nav>