<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="{{ path('home') }}">
				<img src="{{ asset('image/brandlogo.png') }}" alt="brandlogo"/>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav me-auto">
				
						<form action="{{ path('search') }}" method="get" class="d-flex">
							<input type="search" name="username" placeholder="Recherche rapide" class="form-control me-2">
							<button class="btn btn-outline-success" type="submit">
								Rechercher
							</button>
						</form>
					
					{% if app.user %}
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item">
								<a href="{{ path('admin') }}" class="btn btn-warning">
									Administration
								</a>
							</li>
						{% endif %}
						{% if is_granted('ROLE_USER') %}
							<li class="nav-item">
								<a href="{{ path('profile') }}" class="btn btn-warning">
									Profil
								</a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a href="{{ path('app_logout') }}" class="btn btn-danger">
								Deconnexion
							</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a href="{{ path('registrationChoice') }}" class="btn btn-warning">
								Inscription
							</a>
						</li>
						&nbsp;
						<li class="nav-item">
							<a href="{{ path('app_login') }}" class="btn btn-warning">
								Connexion
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
	</nav>
</header>
