	<nav class="navbar navbar-expand navbar-primary bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('home') }}">
						Accueil
					</a>
				</li>
				<form action="{{ path('search') }}" method="get" class="d-flex">

					<input type="search" name="username" placeholder="Recherche rapide" class="form-control">
					<br>

					<button class="btn btn-outline-success" type="submit">
						Rechercher
					</button>

				</form>
			</ul>

			<a class="navbar-brand mr-auto" href="{{ path('home') }}">
				<img src="{{ asset('image/brandlogo.png') }}" alt="brandlogo"/>
			</a>

			{# <form class="form-inline my-2 my-lg-0"> #}
			<ul class="navbar-nav">
				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a href="{{ path('admin') }}" class="btn btn-warning">
								Administration
							</a>
						</li>
					{% endif %}
					{% if is_granted('ROLE_USER') %}
						<li class="nav-item">
							<a href="{{ path('profile') }}" class="btn btn-warning">
								Profil
							</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a href="{{ path('app_logout') }}" class="btn btn-danger">
							Deconnexion
						</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a href="{{ path('registrationChoice') }}" class="btn btn-warning">
							Inscription
						</a>
					</li>
					&nbsp;
					<li class="nav-item">
						<a href="{{ path('app_login') }}" class="btn btn-warning">
							Connexion
						</a>
					</li>
				{% endif %}


			</ul>
		</div>
	</nav>