<nav class="navbar sticky-top navbar-expand-sm">

	<a class="navbar-brand" href="{{ path('home') }}">
		<img src="{{ asset('image/brandlogo.png') }}" alt="brandlogo"/>
	</a>

	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon">
			<i class="fas fa-align-justify"></i>
		</span>
	</button>

	<div class="collapse navbar-collapse" id="navbarCollapse">
		<div class="navbar-nav mr-auto">
			{% if app.user %}
				{% if is_granted('ROLE_USER') %}
					<div class="btn-group mx-0" role="group" aria-label="Basic example">
						<a class="btn btn-secondary nav-item" href="{{ path('profile') }}">
							Profil
						</a>
						<a class="btn btn-secondary nav-item" href="{{ path('app_logout') }}">
							Deconnexion
						</a>
					</div>
					{% if is_granted('ROLE_ADMIN') %}
						<div class="nav-item">
							<a class="btn" href="{{ path('admin') }}">
								Administration
							</a>
						</div>
					{% endif %}
				{% endif %}
			{% else %}

				<div class="dropdown droptoggle">
					<a class="btn dropdown-toggle register-dropdown" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Inscription
					</a>

					<div class="dropdown-menu register-dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="{{ path('registrationAnnouncer') }}">Annonceur</a>
						<a class="dropdown-item" href="{{ path('registrationUser') }}">Membre</a>
					</div>
				</div>
				<a class="btn nav-item" role="button" href="{{ path('app_login') }}">
					Connexion
				</a>
			{% endif %}
			<form class="mobileSearch" action="{{ path('simpleSearch') }}" method="get">
				<div class="input-group m-2">
					<input type="text" name="username" class="form-control" placeholder="Recherche rapide">
					<div class="input-group-append">
						<button class="btn btn-inline" type="submit">
							<i class="fas fa-check"></i>
						</button>
					</div>
				</div>
			</form>
		</div>

		{% if app.user %}

			{% if app.user.announcer == 1 %}
				<div class="dropdown droptoggle">
					<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						V.I.P.
					</a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="#">Déesse de Venus</a>
						<a class="dropdown-item" href="#">Dieu de Mars</a>
						<a class="dropdown-item" href="{{ path('vip') }}">Devenir V.I.P.</a>
					</div>
				</div>
			{% endif %}

			{% if app.user.notif == 0 %}
			<a class="nav-link" href="{{ path('chatHub') }}" role="button">
				<i class="fas fa-envelope"></i>
			</a>
			{% else %}
				<a class="nav-link" href="{{ path('chatHub') }}" role="button">
				<i class="fas fa-envelope-open-text"></i>
			</a>
			{% endif %}
			
		{% endif %}
		<div class="btn-group dropright desktopSearch droptoggle">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-search"></i>
			</a>
			<div class="dropdown-menu desktopSearchDropdown">
				<form class="" action="{{ path('simpleSearch') }}" method="get">

					<div class="input-group mb-3">
						<input type="text" name="username" class="form-control" placeholder="Recherche rapide">
						<div class="input-group-btn">
							<button class="btn btn-inline-success" type="submit" id="button-addon">
								<i class="fas fa-check"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</nav>



